<div id="artikel">
	<div id="bild">
		<img id="image" src="https://www.vapango.de/media/image/17/11/32/apfel-aroma-avoria_600x600.jpg">
	</div>
	<div id="beschreibung">
		<div style="border: thin solid black;">
			<div style="font-size:20px;margin-top:2px;margin-bottom:2px;font-weight:bold;">
				{{Titel}}
			</div>
		</div>
		<div style="margin-top:5px;">
			{{Beschreibung}}
		</div>
		<div style="bottom:5px;right:5px;position:absolute">
			<button style="width:150px; height:30px;">
				Kaufen
			</button>
		</div>
	</div>
</div>