<title>Webshop</title>
<style>
	body {
		font-family:Arial;
	}
	#title {
		width:100%;
		border: thin solid black;
		font-family:Arial;
		font-size:100px;
		text-align:center;
	}
	
	#bild, #beschreibung {
		margin-top:30px;
		height:200px;
	}
	#bild {
		float:left;
		width:calc(20% - 4px);
		border: thin solid black;
		
	}
	
	#image {
		position:relative;
		height:100%;
		width:100%;
	}
	
	#beschreibung {
		position:relative;
		float:right;
		width:80%;
		border:thin solid black;
	}
	
</style>